DB_URL=input_your_database_url_here
DB_USERNAME=input_your_database_username_here
DB_PASSWORD=input_your_database_password_here
JWT_ACCESS_SECRET=input_your_jwt_access_secret_here
JWT_REFRESH_SECRET=input_your_jwt_refresh_secret_here
JWT_REFRESH_PEPPER=input_your_jwt_refresh_pepper_here

